.App-header {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: white;
}

.banner {
  margin-top: 20px;
}

.banner img {
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto;
  border-radius: 8px; /* Bordes redondeados para un toque elegante */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra para destacar la imagen */
}


.Session {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #444;
}

.whatsapp-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #25D366;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}
